.ui-sidebar {
    @extend .col-10, .col-md-6, .col-lg-3;
    padding: 0 !important;
    position: fixed;
    top: 0;
    left: 0px;
    z-index: 100 !important;
    background: $light2;
    height: 100vh !important;
    transition: display cubic-bezier(0.6, -0.28, 0.735, 0.045) .8s !important;

    & , & > * {
        user-select: none !important;
    }

    .ui-brand{
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        width: 100%;
        h1{
            color: $white;
            margin: 0 !important;
            font-size: 25px;
         }
        img{
            width: 60px;
            height: 60px;
        }
        margin-bottom: 80px;
        padding: 20px 0px;
        @media screen and (max-width: #{$lg} ) {margin: 0px !important;}
    }

    & > .menu {

        width: 100% !important;
        overflow-y: scroll !important;
        z-index: 100;
        max-height: 400px;
        list-style: none;
        overflow-y: visible;
        @include scrollbar( $primary, $primary, $black2, 5px );
    
        
        .item {
            display: flex;
            align-items: center;
            justify-content: center;
            color: $info !important;
            transition: all ease-in-out .5s ;
            cursor: pointer;

            svg{
                margin-left: 20px !important;
                width: 10%;
                font-weight: lighter !important;
            }

            a, svg{
                color: $white !important;
                font-size: 14px !important;
            } 

             a{
                 text-decoration: none;
                 font-family: $font;
                 font-size: 14px;
                 padding: 10px 10px;
                 width: 90%;
                 font-weight: normal;
             }

             &:hover {
                 background: $black2;
                 background: rgba($white2, .1);
                 a, svg{
                    color: $white !important;
                    text-decoration: none !important;
                } 
             }

             & ~ .active{
                @extend .shabow-morphism;
                background: rgba($primary, .7);
                opacity: 100 !important;
                 a, svg{
                    color: $white !important;
                } 

                &:hover {
                    transition: all ease-in-out .5s ;
                    background: $primary;
                    a, svg{
                        color: $white !important;
                    }
                }
             }
         }
         
         
         .ui-dropdown {
            position: relative !important;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
    

            &::after{
                //content: "\f104";
                font-family: FontAwesome;
                width: 20px;
                height: 20px;
                position: absolute;
                right: 20px;
                top: 2.5px;
                font-weight: bolder;
                font-size: 18px;
            }


            &:hover{
                &::after{
                    //content: "\f078";
                }
            }

            &-header{
                width: 100% !important;
                display: flex;
                flex-direction: row;
                @extend .item;
            }

            &-menu{
                list-style: none;
                width: 100%;
                display: none;
            }

            &-item{
                @extend .item;
                background-color: $white2;

                svg{
                    font-size: 10px;
                }

                &:hover{
                    background: $primary;
                    cursor: pointer;
                }

            }

         }
    }

}